body{ padding-top:100px;}
.hao_tab{ width:75%; margin:0 auto; margin-top:45px;}
.hao_tab2{width:45%; margin:0 auto; margin-top: 45px;}
.hao_panel{ border-top:none;border-radius: 0px;}
.hao_navbar{ padding:0 20px;}
.hao_navbar span{ line-height:52px;}
.hao_navbar a{ float:right; margin-right:10px;}
.hao_label{ font-weight:normal;}

.captcha{
	cursor: pointer;
}
.pagination{
	float: right;
}

.fr{
	float: right;
}

.table th, .table td{
	vertical-align: middle;
	text-align: center;
}